<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example 1 - using floats</title>
    <link rel="stylesheet" href="floats.css">
  </head>
  <body>
    <p class="header">
      <span class="header__text">
        Heading
      </span>
      <span class="header__search">
        Search
      </span>
    </p>
    <p class="content">
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
      <span class="content__box"></span>
    </p>
  </body>
</html>
